textarea {
    width: 670px;
    height: 300px;
    margin: 30px 0;
}

div#keyboard {
    position: absolute;                    
    left: 32%;
}

button { 
    margin: 0 0 7px 6px;
    height: 40px;
}

button.width-0 {
    width: 53px;
}

button.width-1 {
    width: 40px;
}

button.width-2 {
    width: 65px;
}

button.width-3 {
    width: 76px;
}

button.width-4 {
    width: 99px;
}

button.width-5 {
    width: 237px;
}

button.active,
button:hover {
    background-color: red;
}